<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/service/nav.js"></script>
</head>

<body style="background-color: rgb(4, 0, 255)">
    <nav-test></nav-test>
    <div class="container">
        <h1 class="text-light" style="text-align: center;padding-top: 10%;">ADMISSION</h1>
    </div>
    <div class="container" style="text-align: center">
        <p class="text-light">รับสมัครใหม่ๆมากๆ
        <h6 class="text-light">รายละเอียดการรับนิสิตใหม่ วิทยาลัยนวัตกรรมสื่อสารสังคม มหาวิทยาลัยศรีนครินทรวิโรฒ
            ผ่านระบบ TCAS65</h6>
        </p>
    </div>
    <div class="container rounded bg-white py-3 px-2">
        <div class="container rounded my-5 py-3 px-2 text-light" style="background-color: rgb(0, 9, 138);">
            <h1>สำหรับระดับบัณฑิตศึกษา</h1>
            <h5>สำหรับผู้ที่สนใจสมัครเข้าศึกษาต่อในระดับบัณฑิตศึกษา (ปริญญาโท) สามารถตรวจสอบรายละเอียดได้ผ่านทาง
                หน้าข่าวประชาสัมพันธ์ของวิทยาลัยฯ หรือผ่านทาง เว็บไซต์บัณฑิตวิทยาลัย
                และตรวจสอบหลักสูตรระดับบัณฑิตศึกษาได้ที่นี่<br><br>
                สำหรับผู้ที่สนใจสมัครเข้าศึกษาต่อในระดับปริญญาตรี สามารถตรวจสอบข้อมูลได้ตามรายละเอียดด้านล่างนี้</h5>
        </div>
        <div class="container rounded my-5 py-3 px-2 text-light" style="background-color: rgb(0, 9, 138);">
            <h1>สำหรับระดับบัณฑิตศึกษา</h1>
            <h5>สำหรับผู้ที่สนใจสมัครเข้าศึกษาต่อในระดับบัณฑิตศึกษา (ปริญญาโท) สามารถตรวจสอบรายละเอียดได้ผ่านทาง
                หน้าข่าวประชาสัมพันธ์ของวิทยาลัยฯ หรือผ่านทาง เว็บไซต์บัณฑิตวิทยาลัย
                และตรวจสอบหลักสูตรระดับบัณฑิตศึกษาได้ที่นี่<br><br>
                สำหรับผู้ที่สนใจสมัครเข้าศึกษาต่อในระดับปริญญาตรี สามารถตรวจสอบข้อมูลได้ตามรายละเอียดด้านล่างนี้</h5>
        </div>
    </div>
</body>

</html>